<div class='table-container'>

  <!--ADD STATE COMPONENTS-->
    <button class="add" (click)="changeAddScreenVisible()">
      <img  src="/assets/icons/add-icon.png" />
    </button>
    <app-add-city-screen [addScreenVisible]="addScreenVisible"
                          [selectedStateID]="selectedStateID"
                          (cancelAddScreen)="cancelAddScreenVisible($event)"
                          (refreshCityList)="getCities()"></app-add-city-screen>
  <app-edit-city-screen [editScreenVisible]="editScreenVisible"
                          [cityToEdit]="cityToEdit"
                          (cancelEditScreen)="cancelEditScreenVisible($event)"
                         (refreshCityList)="getCities()"></app-edit-city-screen>                
<app-remove-city-screen [removeScreenVisible]="removeScreenVisible" [cityToRemove]="cityToRemove"
                         (cancelRemoveScreen)="cancelRemoveScreenVisible($event)" (refreshCityList)="getCities()">
                       </app-remove-city-screen>       

<!--STATE TABLE-->             
    <table #table id="myTable">
      <thead>
        <tr class="header">
          <th style="width:10%;">ID</th>
          <th class='title'>
            <p>Nome</p>
            <span>Cadastro de Cidades</span>
          </th>
          <th style="width:10%">Ações</th>
        </tr>
      </thead>
  
      <tbody *ngFor="let city of cities">     
          <tr>
            <td> {{city.id_cidade}}</td>
            <td>{{city.cidade_nome}}</td>
            <td>
              <button class="edit"
              (click)="changeEditScreenVisible(city.id_cidade, city.cidade_nome)">
                <img src="/assets/icons/edit-icon.png" />
              </button>
              <button class='remove' (click)="changeRemoveScreenVisible(city.id_cidade, city.cidade_nome)">
                <img src="/assets/icons/trash-icon.png" />
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
