.btnAddCountry {
    background-color: rgb(97, 235, 159);
    margin: 2vw;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: #444;
    box-shadow: 2px 2px 2px #444;
    cursor: pointer;
  }
  
  .btnAddCountry:active {
    background-color: rgb(122, 231, 171);
  }
  
  @media (max-width: 750px) {
    .btnAddCountry {
      padding: 8px;
    }
  }
  