<div class='table-container'>

  <!--ADD STATE COMPONENTS-->
  <button class="add" (click)="changeAddScreenVisible()">
    <img  src="/assets/icons/add-icon.png" />
  </button>
  <app-add-state-screen [addScreenVisible]="addScreenVisible"
                          [selectedCountryID]="selectedCountryID"
                          (cancelAddScreen)="cancelAddScreenVisible($event)"
                          (refreshStateList)="getStates()"></app-add-state-screen>

<!--STATE TABLE-->                          
  <table #table id="myTable">
    <thead>
      <tr class="header">
        <th style="width:10%;">ID</th>
        <th class='title'>
          <p>Nome</p>
          <span>Cadastro de Estados</span>
        </th>
        <th style="width:20%">Sigla</th>
        <th style="width:10%">Ações</th>
      </tr>
    </thead>

    <tbody *ngFor="let state of states">     
        <tr>
          <td class="pointer" (click)="selectState(state.id_estado)"> {{state.id_estado}}</td>
          <td class="pointer" (click)="selectState(state.id_estado)">{{state.estado_nome}}</td>
          <td>{{state.estado_sigla}}</td>
          <td>
            <button class="edit">
              <img src="/assets/icons/edit-icon.png" />
            </button>
            <button class='remove'>
              <img src="/assets/icons/trash-icon.png" />
            </button>
          </td>
        </tr>
    </tbody>
  </table>
</div>