button.add {
  position: absolute;
  top: 25.1vh;
  right: 10vw;
  z-index: 1;
  background-color: lightgreen;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.add img{
  max-width: 40%;
  max-height: 40%;
}

@media (max-width: 900px) {
  button.add {
    top: 4vh;
    right: 5vw;
    border-radius: 8px;
  }

  .edit {
    margin-bottom: 5px;
  }
}

.edit {
  cursor: pointer;
  margin-right: 3vh;
  background-color: tan;
  border: none;
  border-radius: 4px;
  width: 3vh;
  height: 3vh;
}

.remove {
  cursor: pointer;
  background-color: tomato;
  border: none;
  border-radius: 4px;
  width: 3vh;
  height: 3vh;
}

.edit:hover, .remove:hover, .add{
  filter: brightness(120%);
}

.pointer{
  cursor: pointer;
}

.table-container {
  background-color: #eee;
  border-radius: 0 0 8px 8px;
  overflow-y: auto;
  max-height: 70vh;
}

@media (max-width: 900px) {
  .table-container {
    max-height: 80vh;
  }
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  border: 0;
  font-size: 0.8rem;
  color: #444;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}
#myTable thead th {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  position: sticky;
  top: 0;
}

.title {  
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #333;
}

.title span {
  font-size: 1rem;
  padding: 0;
  border: none;
  margin: 0 auto 0 auto;
}
.title p {
  margin: 0 auto 0 0;
}

#myTable tr:hover {
  background-color: #ddd;
}

.table-body {
  width: 100%;
  height: 60vh;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #444;
}

.form {
  display: block;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #444;
  width: 25vw;
  height: 30vw;
  position: absolute;
  top: 20vh;
  left: 37.5vw;
}
