<div class='table-container'>

<!--ADD, EDIT AND REMOVE COUNTRY COMPONENTS-->
  <button class="add"
          (click)="changeAddScreenVisible()">
    <img  src="/assets/icons/add-icon.png" />
  </button>
  <app-add-country-screen [addScreenVisible]="addScreenVisible"
                          (cancelAddScreen)="cancelAddScreenVisible($event)"
                          (refreshCountryList)="getCountries()"></app-add-country-screen>
  <app-edit-country-screen [editScreenVisible]="editScreenVisible"
                           [countryToEdit]="countryToEdit"
                           (cancelEditScreen)="cancelEditScreenVisible($event)"
                          (refreshCountryList)="getCountries()"></app-edit-country-screen>

<!--COUNTRY TABLE-->
  <table #table id="myTable">
    <thead>
      <tr class="header">
        <th style="width:10%;">ID</th>
        <th class='title'>
          <p>Nome</p>
          <span>Cadastro de Países</span>
        </th>
        <th style="width:20%">Sigla</th>
        <th style="width:10%">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let country of countries">     
        <tr> 
          <td class="pointer" (click)="selectCountry(country.id_pais)">{{country.id_pais}}</td>
          <td class="pointer" (click)="selectCountry(country.id_pais)">{{country.pais_nome}}</td>
          <td>{{country.pais_sigla}}</td>
           
          <!--EDIT AND REMOVE BUTTONS-->
          <td>            
            <button class="edit"
            (click)="changeEditScreenVisible(country.id_pais, country.pais_nome)">
              <img src="/assets/icons/edit-icon.png" />
            </button>            <button class='remove'>
              <img src="/assets/icons/trash-icon.png" />
            </button>
          </td>
        </tr>
    </tbody>
  </table> 
</div>